
.wrap {
    padding: 5px;
    width: 20%; 

    background-color: orange;
}
.wrap h3 {
    color: white;
    text-align: center;
}

.wrap input {
    border: 3px solid yellow;
}

.wrap label {
    color: white;
}
.error-msg {
    position: absolute;
    padding: 5px;
    left: 360px;
    top: 50px;
    height: 20px;
    background-color: rgb(255, 183, 183);
    border: 3px solid rgb(233, 80, 80);
}

.btn {
    height: 30%;
    width: 30%;

    margin-left: 10%;
    background-color: orange;
    border: 1px solid yellow;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    -webkit-box-shadow: 0px -17px 10px -11px rgba(249, 198, 0, 0.6) inset;
    -moz-box-shadow: 0px -17px 10px -11px rgba(249, 198, 0, 0.6) inset;
    box-shadow: 0px -17px 10px -11px rgba(249, 198, 0, 0.6) inset;
}