.authorization {
    flex: 1;
    padding: 5px;
    background-color: #F7F7F7;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 2px;
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    height: 70vh;
    width: 50%;
    border-radius: 2%;
    background-color: orange;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.title {
    margin-top: 10rem;
}
.wrap label {
    display: block;
}
.email-container {
    margin-top: 5rem;
}
.btn-container {
    margin: 1rem;
}