.categories-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin: 5px;
    background-color: orange;
    border: 2px solid yellow;
    border-radius: 10px;
   
    animation-name: show-categories;
    animation-duration: 1s;
}
@keyframes show-categories {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }

}
.categories-container button {
    height: 55px;
    width: 80%;
    margin: 5px;
    margin-left: 10%;
    background-color: orange;
    border: 1px solid yellow;
    border-radius: 5px;
    font-size: 23px;
    color: white;
    -webkit-box-shadow: 0px -17px 10px -11px rgba(249, 198, 0, 0.6) inset;
    -moz-box-shadow: 0px -17px 10px -11px rgba(249, 198, 0, 0.6) inset;
    box-shadow: 0px -17px 10px -11px rgba(249, 198, 0, 0.6) inset;
}