.categories-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin: 5px;
    background-color: #F7F7F7;
    border: 2px solid yellow;
    border-radius: 10px;
   
    animation-name: show-categories;
    animation-duration: 1s;
}
@keyframes show-categories {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }

}

@media (max-width: 600px) {
    .categories-container {
        flex-direction: row;
        width: auto;
        justify-content: space-around;
    }
    .categories-container button {
        width: auto;
        font-size: 15px;
        margin-left: 0;
    }
}