.categories-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;

}
.categories-container button {
    height: 55px;
    width: 80%;
    margin: 5px;
    margin-left: 10%;
    background-color: orange;
    border: 1px solid rgb(255, 187, 0);
    font-size: 23px;
    color: white;
    -webkit-box-shadow: 0px -17px 10px -11px rgba(249, 198, 0, 0.6) inset;
    -moz-box-shadow: 0px -17px 10px -11px rgba(249, 198, 0, 0.6) inset;
    box-shadow: 0px -17px 10px -11px rgba(249, 198, 0, 0.6) inset;
}